/* Este es un comentario en CSS */

.presentacion {
    background-color: #e8f5e9; /* Un verde menta suave */
    color: #0d0f0d;            /* Color de letra que combine */
}

.QuienesSomos p {
    font-size: 19px ! important; 
    line-height: 1.7;   
    color: #2c3e50;      
    margin-bottom: 15px; 
}